[src^="https://cdn.discordapp.com/avatars/748102276471717939"]
{
  content: url(https://i.imgur.com/eBLpUdZ.gif);
  object-fit: scale-down;
  aspect-ratio: 1;
  
}

[src^="https://cdn.discordapp.com/avatars/1074736931843350568"]
{
  content: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTdqbWppdmhxb2dubWNkcmJyMjBvajU4YTBzdTVoOGo3YmowMTlnNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cyQXvx6OoSDTjukfLJ/giphy.gif);
  object-fit: scale-down;
  aspect-ratio: 1;
}