[src^="https://cdn.discordapp.com/avatars/748102276471717939"]
{
  content: url(https://i.imgur.com/eBLpUdZ.gif);
  object-fit: scale-down;
  aspect-ratio: 1;
  
}

[src^="https://cdn.discordapp.com/avatars/1074736931843350568"]
{
  content: url(https://i.imgur.com/eBLpUdZ.gif);
  object-fit: scale-down;
  aspect-ratio: 1;
}